body {
  background-color: rgb(136, 203, 214);
  display: flex;
}

* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {

  margin-right: 100px;
}

.adv {
  display: flex;
}

.adv > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: orange;
  margin-left: 10px;
}

.adv > div:nth-last-of-type(2) {
  background-color: pink;
}
