h2 {
    color: brown;
    font-size: 30px;
}
div a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: lightgreen;
}
.chapter {
    color: green;
}
#begin {
    color: orange;
}
#begin {
    color: orange;
    color: 	#556B2F;
    color: rgb(0, 0, 129);
    color: 	rgba(255,20,147,0.5);
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    font-style: italic; 
    text-decoration: underline; 
    text-decoration: line-through; 
    font-size: 30px; 
}
.text { 
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 2px 4px;
    border-radius: 7px;
}
.box {
    width: 300px;
    height: 300px;
    background-color: rgb(26, 182, 182);
    padding: 20px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding: 20px 10px 15px 25px;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
    border: 3px solid black;
    margin: 20px;
}
.box {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
a {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    width: 500px;
}
a {
    display: block;
}
.box {
    display: inline-block;
}
img {
    display: block;
    width: 500px;
    margin: 0 auto;
}



/* Позиционирование элементов */
/*
Все элементы которые мы распологаем в нашей верстке
точно так будут распологатся и на странице.
И можно какойто блок отобразить на странице по другому,
как бы вынести этот блок из потока HTML структуры 
*/

nav {
    position: static;
    /* Этот параметр стоит по умолчанию у всех элементов,
    обычное поведение блоков, по порядку */

    position: relative;

    /* Ничего не поменялось, но теперь за счет этого параметра
    можем позиционировать элемент как угодно, но элемент не выпадает
    из HTML структуры, он все еще там находится */

    /* left: 100px; */

    /* Сдвинули наш блок вправа на 100px, почему вправа мы же прописали влево,
    дело в том что блок отталкивается от левой границы на 100px, как бы
    сделвли отступ слева(margin-left) */

    /* top: 5px; */

    /* Наш блок ушел вниз на 50px, наш блок отолкнулся от верхней границы на 50px */

    /* right: 150px; */

    /* Видим наш блок вообще выехал за границу на лево, оттолкнулся с права на 150px,
    нельзя указывать left и right вместе, не логично и не работает, либо отталкиваешь 
    слево либо справа на сколько нужно, так же и с top и bottom */

    /* bottom: 100px; */

    /* Блок уехал наверх, оттолкнулся снизу */

    /* Если у нас бы стояло стандартное поведение блоков position:static;
    то мы бы не могли пользоваться такими параматрами как left,right,top,bottom.
    Вместо них нужно margin-left и т.д. */

    position: absolute;
    /* absolute позиционирование уже чуть интереснее, так как позволяет нам
    позиционировать элемент как нам хочется, и наш элемент как бы выпадает из
    потока HTML структуру, он уже не будет стоять попорядку, а там где мы
    ему укажем с помощью этих 4-х параметров.
    Видим что наш элемекнт всхлопнулся и стоит поверх других блоков, так как
    этот элемент уже не находится по порядку */
    right: 20px;
    top: 30px;
    /* Видим что наш элемент приклеелся к верхнему углу документа, как бы
    его родитель теперь body, и может этот элемент гонять по всей сранице
    как угодно */

    position: fixed;
    /* Теперь этот блок так же выпал из потока как при absolute, но теперь
    этот блок прилип в месте где его спозиционировали, и когда скролим страницу
    и наш nav всегда приклеен в одном месте */

}

.example {
    background-color: rgb(182, 182, 182);
    /* Видим появился серый блок с надписью Contents,
    и нам надо чтоб наш выповший блок nav находился в этом сером блоке,
    и там уже его юудем позиционировать как угодно */
    position: relative;
    /* Теперь блок nav будет видить своего родителя example, но для nav и так
    блок example является родителем по Html структуре, но ведь мы nav вырезали
    из потока HTML засчет absolute, и для nav был родителем body. Теперь
    за счет relative у example, для nav родитель example*/
    height: 300px;
    /* Для наглядность, так как nav выпал из потока, а контент у example
    только заголовок Contents, и example установил для него высоту в его контент,
    и чтоб nav поместился в example, увеличили высоту родителя example */

    /* Вообще absolute работает только если у родителя установлен relative,
    отдельно от него absolute не работает, но почему тогда когда ставим absolute
    можем позиционировать элемент как угодно по body, а дело в том что,
    по дефолту у body установлен position: relative; */
    
}



