div { /* То мы будем обращаться ко всем div на странице */
    color: blue;
}

.element { /* Видим что у наших div есть классы element, и видим 
    что свойства красного цвета перетерли синий, и если даже бы прописали 
    в селекторе не класс а div всеравно бы перетерли */
    color: red;
}

.big { /* И у первого текста есть класс big, и он также перетер, предыдущее 
    свойство красного цвета */
    color: black;
}

#second { /* А у второго текста есть id second, и он так же перетер
    предыдущее свойство красного цвета */
    color: yellow;
}

/* Когда мы что то стилизуем при помощи тегов, то эти
стили являются наименее специфичными, то есть таких тегов
типа div на странице может быть огромное кол-во, и наш CCS
не имеет указания на какой то конкретный тег(div), а просто
берет красит все теги в один цвет. Это совершенно не специфичный
селектор, потому что его может быть много на странице.
    Когда мы используем классы, классы уже являются более специфичными,
потому что классы обьявляются на определенные элементы, как бы 
целеноправленно берем и изменяем конкретные элементы с классами,
но если у элемента сразу несколько стилей, как в нашем случае два element big
то стиль будет браться от последнего класса, то есть 
.element {
    font-size: 1.2rem;
    color: red;
}

.big {
    color: blue;
}    
Эти два класса на одном элементе, цвет шрифта возмет от последнего класса
прописаный в элементе <div class="element big">. Последний класс как бы
являеться более важным и специфичным.
    Потом есть уникальные идентификаторы, такие id должен быть только один 
на странице!!! И когда мы задаем его в CSS, он будет очень уникальным,
потому что это правило может повторяться только для одного элемента, и
оно будет перебивать все остальные, даже если будет вот так
    <div id="yo"class="element big">
    .element {
    color: black;
    }
    #yo {
    color: purple;
    }    
    .big {
    color: pink;
    }   
Но инлайн стили перетрут id, они самые спецефичные и это нужно помнить!!!   
    <div style="color: grey;" id="yo"class="element big">
*/  

/* И эти все селекторы мы можем комбинировать */

.wrapper .element {
    color: green;
}

/* Вложенность классов перебивать все кроме id, когда мы
используем комбинацию селекторов они становяться специфичными,
это как школьник володя, таких школьников много, но если указать
город, школу, класс, тогда уже он становится спецефичным
Комбинаций селекторов может быть много к примеру */

#second.element { /* То есть какой то элемент с id second и при этом же
    у него есть класс element, и что важно без пробела, потому что это
    происходит в одном элементе <div id="second" class="element">,
    и это более спецефично чем просто #second */
    color: pink;
}