@import 'button.css';
/* Так мы подключаем стили к кнопкам который находится в другом файле,
и они будут импортироваться в наш основной файл style.css, и этот
основной файл со стилями подключается к HTML, как бы подключаем
отдельные компоненты стилей, и это адекватный способ подключения 
через import */

/* Синтаксис написания стилей 
селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
}    
селектор - это по какому параметру или какому свойству, мы
можем обратиться к определенному элементу на странице
*/
h2 {
    color: brown;
    font-size: 30px;
}

div a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: lightgreen;
}
/* Вложенность, так обращаемся к ссылке которая находится в div */

/* Ну а что если надо покрасить какой то определенный h2, можно обратиться через
псевдоклассы, но это потом. Мы установим в HTML к конкретному тегу h2 
атрибут class */
.chapter {
    color: green;
}

#begin {
    color: orange;
}

/* Давайте поработаем непосредственно с текстом  */
#begin {
    color: orange;
    /* Цвет текста и чего угодно можно указать 4 способами 
    1) Непосредственно написать словами, тот цвет, который хотим,
    но в реальности мы не используем эти названия, потомучто в макетах
    будут определенные оттенки цвета, и чаще всего у них нет зарезервированных
    названий цвета (red,pink,purple и т.д.) */
    color: 	#556B2F;
    /* 2) Hex Code. Указать кодировку цвета, это 16-ричный код, который при
    интерпритации может превращаться в код цвета */
    color: rgb(0, 0, 129);
    /* 3) Decimal Code () RGB. Смысл RGB формата, он расшифровывается 
    rgb(red, green, blue) то-есть сочетания красного, зеленого, синиго цвета
    в разных пропорциях. Этот диапозон варьируется от 0-256 
    rgb(0, 0, 0) - это черынй 
    rgb(256, 256, 256) - это белый */
    color: 	rgba(255,20,147,0.5);
    /* 4) Добавляется буква (a), это альфа канал, который отвечает
    за прозрачность, и четвернтым атрибутом прописываем прозрачность от 0-1 */


    /* Жирность нашего текста - можем прописать словами или цифрами,
    жирность текста определяется в диапазоне 100-900 
    100 200 300 400 500 600 700 800 900
    И это свойство так же зависит от шрифта который используется на сайте,
    дело в том что на сайте используются разные шрифты, и у некоторых
    не бывает некоторых жирностей. Например подключили какой-то шрифт,
    и у него только есть 100-400-700-900, и промежуточных вариантов у него нет */
    font-weight: bold;

    /* Верхний и нижний регистр и каждое слово с загланой буквы */
    text-transform: uppercase;
}

h2 {
    /* Позиционирование текста(лево,право,центр и т.д.)*/
    text-align: center;

    /* Стиль текста - у этих свойств есть много значений */
    font-style: italic; /* текст стал курсивным */
    text-decoration: underline; /* текст стал подчеркнутый */
    text-decoration: line-through; /* текст зачеркнут */
    font-size: 30px; /* размер текста */
}

.text { /* Наш span */
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 2px 4px;
    border-radius: 7px;
}

