h2 {
    color: brown;
    font-size: 30px;
}
div a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: lightgreen;
}
.chapter {
    color: green;
}
#begin {
    color: orange;
}
#begin {
    color: orange;
    color: 	#556B2F;
    color: rgb(0, 0, 129);
    color: 	rgba(255,20,147,0.5);
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    font-style: italic; 
    text-decoration: underline; 
    text-decoration: line-through; 
    font-size: 30px; 
}
.text { 
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 2px 4px;
    border-radius: 7px;
}
.box {
    width: 300px;
    height: 300px;
    background-color: rgb(26, 182, 182);
    padding: 20px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding: 20px 10px 15px 25px;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
    border: 3px solid black;
    margin: 20px;
}
.box {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
a {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    width: 500px;
}
a {
    display: block;
}
.box {
    display: inline-block;
}

/* Выравнивание элементов по вертикали. Верстка таблицами и float */

/* У display есть много значений, и много значений относятся к table. 
Раньше сайты создавались с помощью таблиц, это прошлый век, так уже
никто не делает, но есть HTML письма рассылки которые приходят на почту.
Вот там как раз используется табличная верстка, но чтоб создавать такие 
письма уже дополнительные инструменты, которые все делают за вас,
так что табличная верстка в жизни никогда не пригодится.
Потом начали верстать с помощью float, float это свойство css которое
отвечает за оптикание текста(элемента) какого-то элемента*/
img {
    display: block;
    width: 700px;
    margin: 0 auto;
    float: left;
    /* Оптикание будет идти справа от картинки */
}

/* Добавили текст и видим как текст и все что находится снизу(элементы box) 
оптикает картинку справа */

img {
    float: right;
    /* Теперь текст опттикает слева от картинки */
}

/* Вот такой способ раньше использовался чтоб заменить таблицы, не совсем удобно
каждый раз задавать какой элемент чем оптикается и с какой стороны, плюс рождает
еще несколько проблем, в том числе и выпадение блоков, об этом поговорим позже
когда будем знакомится с псевдоэлементами, псевдоселекторами и там погоаорим
что такое clearfix, и как его можно использовать при верстке float.
В реальных проектах это не используется, но знать надо, и к тому же
могут попастся старые сайты которые были сделаны на float, и нужно уметь
с ними работать */

/* Затем на замену float пришла строчно блочная верстка inline-block,
и разбирем вертикальное выравнивание, видим что наши блоки криво расположены,
сначало уберем float */

img {
    float: none;
}

.box {
    display: inline-block;
    vertical-align: top;
    /* И видим что наши блоки выравнились по центру */
    height: 100px;
    /* А если у нас блоки разной высоты, но нужно их позиционировать
    к центру */
    vertical-align: middle;
}

.red {
    height: 300px;
}


nav {
    position: static;
    position: relative;
    position: absolute;
    right: 20px;
    top: 30px;

}

.example {
    background-color: rgb(182, 182, 182);
    position: relative;
    height: 300px;
    
}


.example2 {
    position: relative;
}

/* Тут убрал код из предыдущего урока, про принцип карточной колоды */

.red {
    background-color: red;
    display: inline-block;
}








