* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	padding: 20px;
  }
  
  .wrapper {
	  position: relative;
	max-width: 500px;
	height: 500px;
	border: 2px dotted red;
  
	.box {
		position: absolute;
	  width: 100px;
	  height: 100px;
	  background-color: lightseagreen;
	}
  }
