.btn-block {
  display: inline-block;
  padding: 40px;
  background-color: lightpink;
  display: inline-flex;
}
.btn-block button {
  width: 60px;
  height: 30px;
  background-color: lightslategray;
  border-radius: 7px;
  display: block;
  border: none;
  margin-right: 10px;
}
.btn-block button.blue {
  background-color: lightblue;
}
.btn-block button.red {
  background-color: red;
}
