* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.tabs__wrapper {
  display: flex;
}
.tabs__wrapper .tabs__content {
  width: 500px;
}
.tabs__wrapper .tabs__item-wrapper .tabs__item {
  padding: 30px;
}
.tabs__wrapper .tabs__item-wrapper .tabs__item:hover {
  color: green;
}
.tabs__wrapper .tabs__item-wrapper .tabs__item-active {
  font-weight: bold;
}
