.tabs_content {
    max-width: 900px;
    background-color: lightgray;
}

.tabs_list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

.tabs_list > div {
    width: calc(900px / 4);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    transition: .5s;
}

.tabs_list > div:hover:not(.active) {
    background-color: rgb(233, 233, 233);
    transition: .8s;
}

.tabs_list > div:not(:nth-of-type(4)) {
    border-right: 1px solid black;
}

.tabs_block {
    position: relative;
    background-color: white;
    overflow: hidden;
}

.tabs_block > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}

.tabs_block > div > img + p {
    position: absolute;
    right: 45%;
    top: 35%;
    font-size: 40px;
    font-weight: bold;
    color: rgb(29, 236, 226);
}

.active {
    font-weight: bold;
    background-color: grey;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.showFlex {
    display: flex;
}

.fade {
    animation-name: fade;
    animation-duration: .8s;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    height: 2000px;
}

.modal {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.329);
}

.modal_block {
    position: relative;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.modal_block > input:nth-of-type(2) {
    margin: 10px 0;
}

.modal_block > input:nth-of-type(3) {
    height: 50px;
}

.modal_block > span {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    border-radius: 50%;
    font-weight: bold;
    background-color: orange;
    cursor: pointer;
    
}

.conect {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid transparent;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(88, 144, 218);
    transition: .5s;
}

.conect:hover {
    transform: scale(1.001);
    background-color: rgb(104, 170, 255);
    transition: .5s;
    box-shadow: 0 0 5px 2px gray;

}

.active {
    transform: scale(1.001);
    background-color: rgb(104, 170, 255);
    transition: .5s;
    box-shadow: 0 0 5px 2px gray;
    font-weight: normal !important;
}

.cardWrapper {
    display: flex;
    justify-content: space-around;
}

.cardBlock {
    border: 1px solid black;
}

.cardBlock .image {
    width: 300px;
    height: 200px;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cardBlock .title {
    border-bottom: 1px solid #000;
}

.cardBlock p {
    padding: 0 5px;
}